<h2>GitHub Repos</h2>
<div class="row" *ngIf="userRepos | async; let repos; else loading">
  <table class="table">
    <tr>
      <td>Name</td>
      <td>Link</td>
    </tr>
    <tr *ngFor="let repo of repos">
      <td>
        <div>
          <a href="#" style="color: black">
            <p data-toggle="tooltip"
               [title]="repo.description"
               data-toggle="modal"
               data-target=".readme-info-modal"
                (click)="onClickRepoName(repo.name)">{{ repo.name }}</p>
          </a>
          <span class="badge">{{ repo.language }}</span>
        </div>
      </td>

      <td>
        <a target="_blank" [href]="repo.url">{{ repo.url }}</a>
      </td>
    </tr>
  </table>
</div>
<ng-template #loading>
  <div class="loader"></div>
</ng-template>

<div class="modal fade readme-info-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-12">
          <!--<div class="white-space-pre" *ngIf="readMeLoaded; else readmeLoad" [innerHTML]="readMeContent">-->
          <div class="white-space-pre" *ngIf="readMeLoaded; else readmeLoad" [innerHTML]="readMeContent">
              {{ readMeContent }}
          </div>
          <ng-template #readmeLoad>
            <p>Loading...</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>




