<p>I am a kind of ambitious person who can achieve almost everything in the scope of my interests with a great determination in the way of success.
I studied Electronics Engineering at university but software development has been my passion since that time.
I have abroad working experience and high level of English skills.
<p>Currently, I have been working for UBS Poland as a <strong>Full Stack Developer</strong>.</p>

<hr style="border: solid black;">
<h4>Core Skills</h4>
<span class="badge">Java</span>
<span class="badge">Python</span>
<span class="badge">C++</span>
<span class="badge">JavaScript</span>
<span class="badge">TypeScript</span>
<span class="badge">Spring MVC</span>
<span class="badge">Spring Boot</span>
<span class="badge">Hibernate</span>
<span class="badge">SQL</span>
<span class="badge">Angular 4</span>
<span class="badge">AngularJS</span>
<span class="badge">VueJS</span>
<span class="badge">JQuery</span>
<span class="badge">HTML</span>
<span class="badge">Linux Shell Scripting</span>
<span class="badge">AWK Scripting</span>
